<a href="https://colab.research.google.com/github/SelvaKorkmaz/Python/blob/main/Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Row,row,row your boat,")
print("Gently down stream.")
print("Merrily,merrily, merrily, merrily")
print("Life is ut a dream.")

Row,row,row your boat,
Gently down stream.
Merrily,merrily, merrily, merrily
Life is ut a dream.

In [ ]:
print("Hours in a year:")
print(365*24*60)

Hours in a year:
525600

In [ ]:
print('"Come right back!", shouted the police officer.')

"Come right back!", shouted the police officer.

In [ ]:
name=input("What is your name?")
print("Hi, there, " + name)

What is your name?selva
Hi, there, selva

In [ ]:
name=input("What is your name?")
print(name)
print(name)

What is your name?selva
selva
selva

In [ ]:
name=input("What is your name?")
print("!" + name + "!" + name + "!")

What is your name?selva
!selva!selva!

In [ ]:
given_name=input("What is your given name? ")
family_name=input("What is your family name? ")
street_address=input("What is your street address? ")
city=input("What is your city and postal code? ")
print(given_name)
print(family_name)
print(street_address + " " + city)

What is your given name? selva
What is your family name? korkmaz
What is your street address? mersin
What is your city and postal code? 33470
selva
korkmaz
mersin 33470

In [ ]:
part1 = input("The 1st part: ")
part2 = input("The 1st part: ")
part3 = input("The 1st part: ")
print(part1 + "-" + part2 + "-" + part3 + "!")

The 1st part: dickory
The 1st part: hickory
The 1st part: dock
dickory-hickory-dock!

In [ ]:
name=input("Please type in name: ")
year=input("Please type in year: ")
print(name + " is a valiant knight, born in the year " + year + ". One morning " + name + " woke up to an awful racket: a dragon was approaching the village. Only " + name + " could save the village's residents.")

Please type in name: Selva
Please type in year: 2005
Selva is a valiant knight, born in the year 2005. One morning Selva woke up to an awful racket: a dragon was approaching the village. Only Selva could save the village's residents.

In [ ]:
name = "Tim Tester"
age = 20
skill1 = "python"
level1 = "beginner"
skill2 = "java"
level2 = "veteran"
skill3 = "programming"
level3 = "semiprofessional"
lower = 2000
upper = 3000

print(f"my name is {name}, I am {age} years old")
print("")
print("my skills are")
print(f" - {skill1} ({level1})")
print(f" - {skill2} ({level2})")
print(f" - {skill3} ({level3})")
print("")
print(f"I am looking for a job with a salary of {lower}-{upper} euros per month")

my name is Tim Tester, I am 20 years old

my skills are
 - python (beginner)
 - java (veteran)
 - programming (semiprofessional)

I am looking for a job with a salary of 2000-3000 euros per month

In [ ]:
x=27
y=15
print(f"{x} + {y} = {x+y}")
print(f"{x} - {y} = {x-y}")
print(f"{x} * {y} = {x*y}")
print(f"{x} / {y} = {x/y}")

27 + 15 = 42
27 - 15 = 12
27 * 15 = 405
27 / 15 = 1.8

In [ ]:
sayi=int(input("Please type in number: "))
sayi2=(sayi * (5))
print(f"{sayi} times 5 is {sayi2}")

Please type in number: 3
3 times 5 is 15

In [ ]:
name1=input("What is your name? ")
born=int(input("Which year were you born? "))
age=(2025-born)
print(f"Hi {name1}, you will be {age} years old at the end of the year 2025")

What is your name? selva
Which year were you born? 2005
 Hi selva, you will be 20 years ols at the end of the year 2025

In [ ]:
days=int(input("How many days? "))
print(f"Seconds in that many days: {days*3600*24}")

How many days? 1
Seconds in that many days: 86400

In [ ]:
number1 = int(input("Please type in the first number: "))
number2 = int(input("Please type in the second number: "))
number3 = int(input("Please type in the third number: "))

product = number1 * number2 * number3

print("The product is", product)

Please type in the first number: 2
Please type in the second number: 3
Please type in the third number: 5
The product is 30

In [ ]:
number1 = int(input("Please type in the first number: "))
number2 = int(input("Please type in the second number: "))

sum1 = number1 + number2
product = number1 * number2

print("The sum of the numbers:", sum1)
print("The product of the numbers:", product)

Please type in the first number: 3
Please type in the second number: 7
The sum of the numbers: 10
The product of the numbers: 21

In [ ]:
number3=int(input("Number 1:"))
number4=int(input("Number 2:"))
number5=int(input("Number 3:"))
number6=int(input("Number 4:"))
sum2=number3+number4+number5+number6
mean=float(sum2/4)
print(f"The sum of the numbers is {sum2} and the mean is {mean}")

Number 1:2
Number 2:1
Number 3:6
Number 4:7
The sum of the numbers is 16 and the mean is 4.0

In [ ]:
cafeteria=float(input("How many times a week do you eat at the student cafeteria? "))
lunch=float(input("The price of a typical student lunch? "))
week=float(input("How much money do you spend on groceries in a week? "))
weekly=float(cafeteria*lunch)+week
daily=float(weekly/7)
print("Average food expenditure: ")
print(f"Daily: {daily} euros")
print(f"Weekly: {weekly} euros")

How many times a week do you eat at the student cafeteria? 4
The price of a typical student lunch? 2.5
How much money do you spend on groceries in a week? 28.5
Average food expenditure:
Daily: 5.5 euros
Weekly: 38.5 euros

In [ ]:
course=int(input("How many students on the course? "))
group=int(input("Desired groups size? "))
formed=int((course+group-1)//group)
print(f"Number of groups formed: {formed}")

How many students on the course? 8
Desired groups size? 4
Number of groups formed: 2

In [ ]:
number=int(input("Please type in a number: "))
if(number==1984):
  print("Orwell")

Please type in a number: 2020

In [ ]:
number = int(input("Please type in a number: "))

if number < 0:
  number=number * -1
print(f"The absolute value of this number is {number}")

Please type in a number: -7
The absolute value of this number is 7

In [ ]:
name = input("Please tell me your name: ")
if name != "Jerry":
    portions = int(input("How many portions of soup? "))
    total_cost = portions * 5.90
    print(f"The total cost is {total_cost}")
print("Next please!")

Please tell me your name: kramer
How many portions of soup? 2
The total cost is 11.8
Next please!

In [ ]:
number=int(input("Please type in anumber: "))
if number<1000:
  print("This number is smaller than 1000")
if number<100:
  print("This number is smaller than 100")
if number<10:
  print("This number is smaller than 10")
print("Thank you!")

Please type in anumber: 2
This number is smaller than 1000
This number is smaller than 100
This number is smaller than 10
Thank you!

In [ ]:
number1=int(input("Number 1: "))
number2=int(input("Number 2: "))
operation=input("Operation: ")
add=number1+number2
multiply=number1*number2
if operation=="add":
  print(f"{number1} + {number2} = {number1 + number2}")
if operation=="multiply":
  print(f"{number1} * {number2} = {number1 * number2}")

Number 1: 4
Number 2: 5
Operation: multiply
4 * 5 = 20

In [ ]:
fahrenheit=float(input("değer gir:"))
celcius=(fahrenheit-32)/(5/9)
if celcius<0:
  print("soğuk")
print("derece" + {celcius})

değer gir:101

TypeError: can only concatenate str (not "set") to str

In [ ]:
hourly_wage=float(input("Hourly wage: "))
hours=int(input("Hours worked: "))
day=input("Day of the week: ")
if (day== "Sunday"):
  hourly_wage=hourly_wage*2
daily_wages=hourly_wage*hours
print(f"Daily wages: {daily_wages} euros")

In [ ]:
# Kullanıcıdan puan bilgisini al
points = float(input("How many points are on your card? "))

# Bonus hesaplama
if points < 100:
    bonus_percentage = 10
else:
    bonus_percentage = 15

bonus = points * (bonus_percentage / 100)
new_points = round(points + bonus, 10)  # Daha hassas yuvarlama için 10 basamak kullanıldı

# Sonuçları ekrana yazdır
print(f"Your bonus is {bonus_percentage} %")
print(f"You now have {new_points:.10f} points")  # 10 basamaklı yazdır

In [ ]:
temperature=int(input("What is the temperature for tomorrow? "))
rain=input("Will it raib(yes/no)? ").strip().lower()
print("Wear jeans and a T-shirt")
if temperature<=20:
  print("I recommend a jumper as well")
if temperature<=10:
  print("Take a jacket with you")
if temperature<=5:
  print("Make it a warm coat, actually")
  print("I think gloves are in order")

What is the temperature for tomorrow? 3
Will it raib(yes/no)? yes
Wear jeans and a T-shirt
I recommend a jumper as well
Take a jacket with you
Make it a warm coat, actually
I think gloves are in order

In [ ]:
from math import sqrt
a = float(input("Value of a: "))
b= float(input("Value of b: "))
c = float(input("Value of c: "))

discriminant = b**2 - 4*a*c

root1 = (-b + sqrt(discriminant)) // (2*a)
root2 = (-b - sqrt(discriminant)) // (2*a)

print(f"The roots are {root1} and {root2}")

Value of a: 1
Value of b: 2
Value of c: -8
The roots are 2.0 and -4.0